name: Update M3U Playlist

on:
  schedule:
    - cron: '0 * * * *' # Runs every hour

jobs:
  update-playlist:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Update M3U Playlist
        run: |
          python m3u.py

      - name: Commit and Push Changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: 'IQkhan'
          author_email: 'khanumiqrakhanum@gmail.com'
          message: 'Update M3U playlist'
